* {
  box-sizing: border-box;
}
.body {
  background: #0c0002;
}



.imgs-dev_poster_path {
  display: grid;
  grid-template-columns: repeat(5, minmax(2rem, 1fr));
  gap: 2rem;
  position: relative;
  padding: 0.5rem;
}

.movies-poster_path {
  width: 100%;
  transition: all 0.3s ease 0s;
  object-fit: cover;
  border-radius: 20px;
  /*   animation: 0.5s ease 0s 1 normal none running animateMovieThumb;
  color: -webkit-link; */
  cursor: pointer;
}
