* {
  box-sizing: border-box;
}
.body {
  background: #0c0002;
}

.imgs-dev_poster_path {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(5, minmax(2rem, 1fr));
  gap: 2rem;
  position: relative;
  padding: 0.5rem;
}

.movies-poster_path {
  width: 100%;
  transition: all 0.3s ease 0s;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0.3rem 0.3rem 1rem 0.01rem red;
}

.movies-poster_path :hover {
  transform:rotate(10%)
}

.movies-poster_path2 {
  width: 100%;
  transition: all 0.3s ease 0s;
  object-fit: cover;
  border-radius: 20px;
}
.movies-poster_path2 :hover {
 transform:rotate(10%)
}
h2 {
  margin: 2rem;
}

.fav_btn {
  border-style: none;
  background-color: rgba(255, 255, 255, 0);
}

