* {
  box-sizing: border-box;
}
.body {
  background: #0c0002;
}

.imgs-dev_poster_path {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(5, minmax(2rem, 1fr));
  gap: 2rem;
  position: relative;
  padding: 0.5rem;
}

.movies-poster_path {
  width: 100%;
  transition: all 0.3s ease 0s;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem 2rem .0008rem black;
}
.movies-poster_path :hover{
  transform: scale(1.05);
}

.movies-poster_path2 {
  width: 100%;
  transition: all 0.3s ease 0s;
  object-fit: cover;
  border-radius: 20px;
}
h2 {
  margin: 2rem;
}
